<div class="nav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/todaysNamedays" routerLinkActive="active">Todays namedays</a>
  <a routerLink="/yesterdaysNamedays" routerLinkActive="active"
    >Yesterdays namedays</a
  >
  <a routerLink="/tomorrowsNamedays" routerLinkActive="active"
    >Tomorrows namedays</a
  >
  <a routerLink="/searchNamedayDate" routerLinkActive="active"
    >Search by name</a
  >
  <a routerLink="/searchNamedayByDate" routerLinkActive="active"
    >Search by date</a
  >
</div>
